---
import "./aboutMe.css";
import { client, urlFor } from "@lib/sanity";
import { aboutQuery } from "@lib/queries";
import type { AboutStat, About } from "@models/sanity";

import Button from "@components/ui/Button/Button.astro";
import SocialLink from "@components/ui/Social/SocialLink.astro";

const about: About = await client.fetch(aboutQuery);

// const parts = (about?.titleStyled || "").split(/(\[.*?\])/g);
const parts = about?.titleStyled?.split(/(\(.*?\))/g) || [];

// devuelve [
//   "Hola ",
//   "(UGC)",
//   " creador"
// ]
---

<section class="about section container grid" id="about">
  <!-- Imagen -->
  <div class="about__image hvr-grow-rotate">
    <img
      src={urlFor(about.image).url()}
      alt={about.image?.alt || about.title}
    />
  </div>

  <!-- Contenido -->
  <div class="about__content">
    <!-- Etiqueta -->
    <span class="about__badge">{about.badge || "Sobre mí"}</span>

    <!-- Título -->
    <h2 class="about__title">
      {
        parts.map((part) => {
          const isHighlight = part.startsWith("(") && part.endsWith(")");

          if (isHighlight) {
            return <span class="highlight">{part.replace(/[\(\)]/g, "")}</span>;
          }

          return part;
        })
      }
    </h2>

    <!-- Descripción -->
    <div class="about__text">
      <p>
        {about.description}
      </p>

      <p>
        {about.descriptionSecondary}
      </p>
    </div>

    <!-- Estadísticas -->
    <div class="about__stats grid">
      <!-- <article class="about__stat hvr-grow-shadow">
        <h3>{about.stats?.[0]?.number || "+50"}</h3>
        <p>{about.stats?.[0]?.label || "Videos creados"}</p>
      </article>

      <article class="about__stat hvr-grow-shadow">
        <h3>{about.stats?.[1]?.number || "+10"}</h3>
        <p>{about.stats?.[1]?.label || "Marcas colaboradoras"}</p>
      </article>

      <article class="about__stat hvr-grow-shadow">
        <h3>{about.stats?.[2]?.number || "100%"}</h3>
        <p>{about.stats?.[2]?.label || "Contenido auténtico"}</p>
      </article> -->
      {
        about.stats && about.stats.length > 0 ? (
          about.stats.map((stat) => (
            <article class="about__stat hvr-grow-shadow">
              <h3>{stat.number}</h3>
              <p>{stat.label}</p>
            </article>
          ))
        ) : (
          <p>Cargando estadísticas...</p>
        )
      }
    </div>

    <!-- CTA -->
    <div class="about__actions">
      <Button
        title={about.cta?.text || "Contáctame"}
        url={about.cta?.link || "#contacto"}
        targetBlank={about.cta?.newTab || false}
      />
    </div>
  </div>
</section>

<!-- <pre>{JSON.stringify(about, null, 2)}</pre> -->
